In [1]:
import pandas as pd

C:\Users\A\AppData\Local\Temp\ipykernel_6688\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Working with JSON

# To read

**pd.read_json('name-of-file')**

# From URL

**pd.read_json('paste-the-URL')**

# Working with SQL

**First install - pip install mysql.connector**

**import mysql**

**Now install XAMPP and after opening start MYSQL and Apache then go to 'phpMyAdmin' and create a new database and upload your SQL file**

**conn=mysql.connector.connect(host='localhost',user='root',password='',database='world') //for the sql file named 'world'**

**Now to read-**

**pd.read_sql_query("SELECT * FROM city",conn)**